@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    background-color: grey;
color:honeydew;


font-size: 16px;
font-weight: normal;
font-family: 'Roboto', sans-serif; 

/* font: normal 16px 'Roboto', sans-serif; */


/* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

a{
    color:yellowgreen;
    text-decoration: none;
}

a:hover{ 
    text-decoration: underline ;
}

a:active {
    color:black
}


.avatar {
    width: 200px;
    border-radius: 15px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
}
.info{ 
    display: flex;
    margin-bottom: 20px;
    
}

@media (max-width: 700px) {
    .info {
        text-align: center ;
        display: block;
    }
}

.info-text{
    margin-left: 40px;

}

.info-text h4{
    margin-bottom: 10px;
}
.info p {
    color: white;
    margin: 0;
    font-style: italic;
    font-weight: lighter;
    text-transform: uppercase;
   /* letter-spacing: none; */
}
/* box model */

 .container {
     max-width: 75%;
     margin: auto;
     padding-top: 30px;

 }


/*.like {
    background:rgb(118, 167, 22);
    padding: 20px;
    border: 5px solid silver ;
    border-top-width: 10px;
    margin: 15px; } */

 /*.box-model > div {
    float: left;
    background: silver ;
    height: 150px;
    border: 4px solid rgb(118, 167, 22);
    width: 25%;
    box-sizing: border-box;} */  

    .card  {
        padding: 15px 20px;
        background:yellowgreen ;
        margin-bottom: 20px;
        border-radius: 20px;
    }

    .card h2{
        margin-bottom: 10px;
    }
    .list{
        padding: 0 20px;
    }

    .list li{
        color: black;
        margin-bottom: 10px;
    }

.table{
    width: 100%;
}

.table td{
    padding-bottom: 10px;
}
.table td:nth-child(3),
.table td:nth-child(2),
.table td:nth-child(1){
    color:black;
}
/*.table tr:nth-child(even){
    background: silver;
}*/


